<h1>About Me</h1>
<img src="http://via.placeholder.com/250x350" alt="profile_picture">
<div>
  <p>I'm a Colorado native who has dual citizenship with the UK.
    After graduating from the University of Colorado with my 
    accounting degreee I started my professional career running 
    my own financial planning practice. I grew my business from 
    nothing to over 200 clients. I loved my clients, but wasn't 
    wasn't challenged by work.
  </p>
  <p>That's when I started to seriously look into coding.
    I had alwasy been interested in technology, but never
    dived deep into it. I decided to jump straight into
    it by attend Galvanize's Web Develeopment Immersive
    6 month bootcamp. 
  </p>
</div>
<p>
  Social Links: 
</p>
<a href="https://www.linkedin.com/in/matthewriach/">LinkedIn</a>
<a href="https://github.com/thextool">GitHub</a>
